/* globals.css */
@import "tailwindcss";

/* @theme {
  --color-primary: #00b4d8;
  --color-secondary: #ff6f61;
  --color-header: #e0f7fa;
  --color-background: #fdf6e3;
  --color-text: #2f4f4f;
  --color-accent: #f9dc5c;
} */

@theme {
  --color-primary: #00686c;
  --color-light: #4ba4a5;
  --color-dark: #00484a;
  --color-secondary: #f9dc5c;
  --color-background: #fdf6e3;
  --color-text: #2f4f4f;
  --color-accent: #ff6f61;
  --color-border: #dbe4e4;
  --color-success: #3ba17c;
  --color-error: #c0392b;
}
